<header>
    <nav class="navbar underline navbar-expand-lg navbar-dark default-color">
      <a class="navbar-brand" href="/">{{ site.title }}
    
    
          {% include real_time_rebble_light.svg %}
    
    
        </a>
        <div class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
    
            <li class="nav-item steps">
            </li>
    
          </ul>
          <ul class="navbar-nav navbar-dark nav-flex-icons">
            <li class="nav-item " id="viewAllOn">
              <a class="nav-link" href="https://rebble.io/discord"> <span class="data-username"></span> <i class="fas fa-user"></i></a>
          </li>
          </ul>
        </div>
      </nav>
      <!-- <div class="percbar" style="width: 0%"></div> -->
      <div class="alert alert-large alert-danger alert-dismissible animated slideInDown show hidden" role="alert" id="mainAlert">
        <strong class="text-danger" id="mainAlert-topic">[topic]</strong> - <span id="mainAlert-text">[text]</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
</header>
