<header>
    <nav class="navbar underline navbar-expand-lg navbar-dark default-color">
      <a class="navbar-brand" href="/">{{ site.title }}
    
    
          {% include real_time_rebble_light.svg %}
    
    
        </a>
        <div class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
    
            <li class="nav-item steps">
              <div class="helpquote dark">
                {% if page.prompt %}
                <i class="fas fa-angle-double-right"></i> {{ page.prompt }}
                    {% if page.os != "choose" %}
                    <div>
                        <i class="fas fa-walking" id="stepsman"></i> <span id="stepStatus"></span>
                    </div>
                    {% endif %}
                    
                {% endif %}
              </div>
            </li>
    
          </ul>
          <ul class="navbar-nav navbar-dark nav-flex-icons">
            <li class="nav-item " id="viewAllOn">
              <a class="nav-link" href="https://rebble.io/discord"> <span class="data-username"></span> <i class="fas fa-user"></i></a>
          </li>
          </ul>
        </div>
      </nav>
      <div class="percbar" style="width: 0%"></div>
</header>
