body {
  font-family: Lato,Helvetica,Helvetica Neue,Arial,sans-serif;
  --color-background: #f6faf8;
  --color-header: #373a3c;
  --color-rebble-orange: #ff4700;
  --color-rebble-green: #6fa673;
  --color-rebble-amber: #FFB449;
  --color-rebble-red: #AF0000;
  --color-rebble-light-red: #FF7575;
  --color-rebble-light-grey: #5c5c5c;
  --color-rebble-very-light-grey: #E0E0E0;
  --color-rebble-blue: #00c3fd;
  /* --color-header: #f88f1d; */
  --color-background-dark: #9e6900;
  --color-foreground: #FFFFFF;
  --color-foreground-dark: #ffffff;
  --percentage-complete: 25%;
  background-color: var(--color-background);
  font-size: 1.3rem;
  font-weight: 400;
}
.green {
  background-color: var(--color-rebble-green) !important;
}
.orange {
  background-color: var(--color-rebble-orange) !important;
}
.light-red {
  background-color: var(--color-rebble-red) !important;
}


.lite {
  font-weight: 300 !important;
}
.default-color {
  background-color: var(--color-background) !important;
}
.navbar {
  box-shadow: none;
  font-size: 20px;
  background-color: var(--color-header) !important;
  z-index: 1;
}
.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: var(--color-foreground-dark) !important;
}
.nav-item.steps {
  margin-top: 5px;
}
header {
  margin-bottom: 20px;
}
header .watch {
  height: 37px;
}
.navbar-brand {
  font-size: 25px;
  font-weight: 300;
  color: var(--color-foreground-dark) !important;
  padding-top: 0px;
  padding-bottom: 0px;
}
.container {
  width: 80%;
  padding-left: 0px;
}
.pointer {
  cursor: pointer;
}
h1 {
  font-size: 2rem;
  font-weight: 400;
}
.search {
  border-radius: 0px;
  border: 5px solid black;
  padding: 10px;
  font-size: 2rem;
  width: inherit;
  max-width: 100%;
}
.wide {
  width: 100%;
}

a.link {
  color: inherit;
  text-decoration: underline;
}
a.nodec {
  color: inherit !important;
  text-decoration: none !important;
  display: inline !important;
}
button {
  border-radius: 0px;
  border: 3px solid black;
  padding: 10px;
  font-size: 1rem;
  max-width: 100%;
}
input.previousstep {
  font-size: 1rem;
}
.hidden, .hiddenSearchResult {
  display: none !important;
}

.noborder, .noborder td {
  border: none !important;
}
.nopad, .nopad td {
  padding: 0px !important;
}
strong {
  font-weight: bolder;
}
footer {
  display: flex;
  flex-flow: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2rem;
  margin: -1rem 0 0;
  padding-top: 60px;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.footer-icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}



/* Login */
.btn-primary, .btn-primary:hover {
  background-color: var(--color-rebble-orange) !important;
  border: 1px solid var(--color-rebble-orange) !important;
}
.btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--color-rebble-orange) !important;
  border: 1px solid white !important;
}
.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none !important;
}
.btn-secondary, .btn-secondary:hover {
  background-color: var(--color-header) !important;
  border: 1px solid var(--color-header) !important;
}
.btn-secondary:active, .btn-secondary:not(:disabled):not(.disabled):active {
  background-color: var(--color-header) !important;
  border: 1px solid white !important;
}
.btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none !important;
}
.btn-active, .btn-active:hover {
  background-color: var(--color-rebble-light-grey) !important;
  border: 1px solid var(--color-rebble-light-grey) !important;
}


/* Home */

.active {
  background-color: rgba(0,0,0,0.1);
}
.tab-pane.active {
  background-color: inherit !important;
  padding: 15px;
}
.nav-link.active {
  color: var(--color-rebble-orange) !important;
}

.nav-link, .nav-link:hover {
  font-weight: 300;
  font-size: 1rem;
  color: black;
}

.appSmall {
  width: 40px;
  height: 40px;
}
.tinyicon {
  width: 25px;
  height: 30px;
}

.tall {
  height: 100%;
}

ul.nodec {
  padding: 0px;
}

ul.nodec > li {
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.bandw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.incompatible {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 10%;
  cursor: not-allowed;
}

.noshadow, .noshadow:hover {
  box-shadow: none;
}

.lineup {
  /* Make buttons line up with col-3 image */
 padding-left: 8px;
}


.loader {
  width: 100%;
}
.spinner {
  border: 8px solid black; 
  border-top: 8px solid var(--color-rebble-orange); 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}
.spinner-sm {
  border: 4px solid black; 
  border-top: 4px solid var(--color-rebble-orange); 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

.niceInput, .niceInput:focus, .niceInput:active {
  width: 100%;
  border-radius: 0px !important;
  border: 3px solid var(--color-header);
  padding-left: 10px;
  margin-bottom: 4px;
  box-shadow:none;
  outline: 0 none;
}
input.simple, input.niceInput:focus, input.niceInput:active, textarea.simple, textarea.niceInput:focus {
  width: 100%;
  border-radius: 0px !important;
  border: 3px solid var(--color-header);
  padding-left: 10px;
  margin-bottom: 4px;
  box-shadow:none;
  outline: 0 none;
}
input.bold, input.bold:hover  {
  border-radius: 0px !important;
  border: 3px solid var(--color-header);
  padding-left: 10px;
  box-shadow:none;
  outline: 0 none;
}
.w-40 {
  max-width: 400px;
}
textarea {
  width: 100%;
  height: 100px;
}

.longForm {
  padding-left: 0px;
}
.longForm input, .longForm input:focus, .longForm textarea, .longForm textarea:focus, .longForm select, .longForm select:focus {
  width: 85%;
  max-width: 85%;
  font-size: 1.3rem;
}
input[type="checkbox"] {
  width: inherit !important; 
  margin-right: 10px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--color-rebble-orange);
  background-color: var(--color-rebble-orange);
}

.smallInput {
  font-size: 20px;
}
.reallySmallInput {
  font-size: 15px;
}

.img-card {
  max-width: 144px;
  max-height: 220px;
  width: 144px;
  height: 220px;
}
.img-card.chalk {
  max-width: 180px;
  max-height: 232px;
  width: 180px;
  height: 232px;
}
.img-card.emery {
  max-width: 200px;
  max-height: 280px;
  width: 200px;
  height: 280px;
}
.card-body {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}
.card-body > .btn {
  font-size: 0.8rem;
  padding: 4px;
}
.card-img-top {
  width: 144px;
  height: 168px;
  object-fit: fill;
  max-width: 100%;
}
.card-img-top.chalk {
  width: 180px;
  height: 180px;
  margin-top: 0px;
  margin-left: 0px;
  border-radius: 180px;
  object-fit: cover;
}
.card-img-top.emery {
  width: 200px;
  height: 228px;
}
.card-img-icon {
  width: 100px;
  height: 100px;
  object-fit: fill;
  max-width: 100%;
}
/* .roundScr {
  width: 180px !important;
  height: auto !important;
} */
.banner {
  width: 720px;
  height: 320px;
  max-width: 720px;
  max-height: 320px;
}

.change {
  color: var(--color-rebble-orange)
}

.btn-danger, .btn-danger:hover {
  background-color: var(--color-rebble-red) !important;
}
.btn-warning, .btn-warning:hover {
  background-color: var(--color-rebble-amber) !important;
  color: black;
}
.alert-large.alert-danger {
  background-color: var(--color-rebble-light-red) !important;
  border: 1px solid var(--color-rebble-light-red) !important;
  border-radius: 0px;
  color: black !important;
}
.alert-large {
  font-size: 1rem;
}
.alert-large a {
  color: black;
  text-decoration: underline;
}
.text-danger {
  color: var(--color-rebble-red) !important;
}
.text-warning {
  color: #FF7575 !important;
}
.close {
  height: 100%;
}

.small {
  font-size: 1rem;
}

.link {
  cursor: pointer;
  text-decoration: underline;
}
.clickable {
  cursor: pointer;
}


.largeText {
  font-size: 3rem;
  color: var(--color-rebble-orange)
}

.r2 {
  font-size: 2rem;
}


.disabled a {
  color: gray !important;
}

.border-lite {
  border: 1px solid black;
}
.curve {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 2px !important;
}
.uploader h1 {
  font-weight: 800;
}
.uploader img {
  height: 300px;
  width: 300px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
img.small {
  height: 25px;
  width: auto;
}
.funtext {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.large {
  height: 100% !important;
  width: auto;
}
.uploader .fill {
  width: 100%;
  height: 100%;
}
.modal-lg {
  max-width: 50%;
  height: 75%;
  font-size: 1.1rem;
}
#profile-image {
  background-image: url("/res/img/silkti-exploded.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* background-size: 85%; */
  height: 75vh;
}
#master-profile {
  overflow-x: hidden;
}
.modal-content .uploader, .submitModal-section {
  height: 100% !important;
  text-align:center;
}

.modal-dialog .modal-content {
  border-radius: 10px !important;
  font-weight: 600;
}

.lcase {
  text-transform: lowercase;
}
.capitalise, .capitalise li {
  text-transform: capitalize;
}
.underline {
  border-bottom: 1px solid black;
}
.font-weight-light {
  font-weight: 200;
}

.image-container {
  background-image: url("/res/img/screenshot_slider_background_time.png");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  background-size: 162px;
  width: 162px;
  height: 233px;
  /* z-index: 9; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
}
.image-container img {
  margin-top: 60px;
  margin-left: 33px;
  width: 96px;
  height: 113px;
  border-radius: 5px;
}

.chalk img {
  margin-top: 61px;
  margin-left: 26px;
  width: 110px;
  height: 110px;
  border-radius: 55px;
  object-fit: cover;
}

.rainbow-text {
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
  -webkit-background-clip: text;
  color: transparent;
}
.green-text {
  color: var(--color-rebble-green) !important;
}
.dark-red-text {
  color: var(--color-rebble-red) !important;
}

.steps li {
  padding: 30px;
  margin: 50px;
  margin-left: 0px;
  font-weight: 300;
  font-size: 1rem;
}
.steps li i {
  font-size: 20px;
}
.ball {
  background-color: var(--color-rebble-very-light-grey);
  padding: 20px;
  border-radius: 50%;
  color: white;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}

table.nodec td {
  border: none !important;
}

.nav-indicator {
  display: none;
}
.showChevron .nav-indicator {
  display: inline-block !important;
}

.hr-top {
  border-top: 2px solid black;
}

.dropdown-item:hover {
  background-color: var(--color-rebble-blue);
}
.btn-info {
  background-color: var(--color-rebble-blue) !important;
}
