body {
  font-family: Lato,Helvetica,Helvetica Neue,Arial,sans-serif;
  --color-background: #f6faf8;
  --color-header: #373a3c;
  --color-rebble-orange: #ff4700;
  --color-rebble-green: #6fa673;
  --color-rebble-amber: #FFB449;
  --color-rebble-red: #AF0000;
  --color-rebble-light-red: #FF7575;
  --color-rebble-light-grey: #5c5c5c;
  /* --color-header: #f88f1d; */
  --color-background-dark: #9e6900;
  --color-foreground: #FFFFFF;
  --color-foreground-dark: #ffffff;
  --percentage-complete: 25%;
  background-color: var(--color-background);
  font-size: 1.3rem;
  font-weight: 400;
}

body.clear {
  background-color: #F9F9F9;
}
.body.clear > .navbar {
  background-color: var(--color-background);
}
.percbar {
  border-bottom: 5px solid var(--color-background-dark);
  width: var(--percentage-complete)

}

.lite {
  font-weight: 300;
}
.default-color {
  background-color: var(--color-background) !important;
}
.navbar {
  box-shadow: none;
  font-size: 20px;
  background-color: var(--color-header) !important;
  z-index: 1;
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: var(--color-foreground-dark) !important;
}
.nav-item.steps {
  margin-top: 5px;
}
header {
  margin-bottom: 20px;
}
.navbar-brand {
  font-size: 35px;
  font-weight: 300;
  color: var(--color-foreground-dark) !important;
}
.container {
  width: 80%;
  padding-left: 0px;
}

.option-section {
  text-align: center;
  font-size: 2rem;
}
.option-section .col-sm {
    margin-bottom: 40px;
}
.option-section .col-6:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}
.hugeText {
  font-size: 3rem;
}
.question {
  font-size: 3rem;
}
.title {
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.subtitle {
  margin-top: 30px;
}

.linklist li {
  list-style-type: none;
  font-size: 2rem;
  margin-bottom: 25px;
}
.linklist {
  padding-left: 0;
  background-color: var(--color-background);
}
.linklist a {
  color: inherit;
}
.linklist a:hover {
  border-bottom: 5px solid black;
}
.dark {
  color: var(--color-background-dark);
}

.search {
  border-radius: 0px;
  border: 5px solid black;
  padding: 10px;
  font-size: 2rem;
  width: inherit;
  max-width: 100%;
}

.icon-huge {
  font-size: 10rem;
}
.wide {
  width: 100%;
}

a.link {
  color: inherit;
  text-decoration: underline;
}
a.nodec {
  color: inherit !important;
  text-decoration: none !important;
  display: inline !important;
}

button {
  border-radius: 0px;
  border: 5px solid black;
  padding: 10px;
  font-size: 1rem;
  max-width: 100%;
}
input.previousstep {
  font-size: 1rem;
}

qr img {
  /* border: 3px solid black; */
}
qr img {
  margin-top: 30px;
  margin-bottom: 30px;
}
.highlight {
  background-color: var(--color-header);
}
.highlight-text {
  color: var(--color-rebble-orange);
}

.helpcontent h1 {
  margin-bottom: 60px;
}
img {
  max-height: 400px;
  /* max-width: 90%; */
  /* width: 200px; */
  /* margin-left: calc(50% - 100px); */
  
}
.post img {
  border: 6px solid black;
}
qr img {
  border: none !important;
  margin-left: 30px;
}
/* Hide notmobile stuff on mobile */
@media screen and (max-width: 600px) {
  notmobile {
    visibility: hidden;
    clear: both;
    display: none;
  }
  li {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  p {
    font-size: 1.2rem;
  }
  .question {
    font-size: 1.3rem;
  }
  .icon-huge {
    font-size: 5rem;
  }
  .hugeText {
    font-size: 2rem;
  }
}

.hidden, .hiddenSearchResult {
  display: none !important;
}

img[alt=icon] { 
  width: 50px !important; 
  border: none !important;
}
img[alt=noborder] { 
  border: none !important;
}
.noborder, .noborder td {
  border: none !important;
}
.nopad, .nopad td {
  padding: 0px !important;
}

strong {
  font-weight: bolder;
}

footer {
  display: flex;
  flex-flow: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2rem;
  margin: -1rem 0 0;
  padding-top: 60px;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}
.footer-icon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
div.email-signup {
  text-align: center;
  margin: 1rem 0 .5rem;
}
div.email-signup input[type="email"] {
  margin: 0;
  padding: 0.6rem;
  line-height: normal;
  font-size: 0.8em;
  border-radius: 0;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
  border: 1px solid #777;
      border-right-color: rgb(119, 119, 119);
      border-right-style: solid;
      border-right-width: 1px;
  border-right: none;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}
div.email-signup input[type="submit"] {
    margin: 0;
    padding: 0.6rem;
    line-height: normal;
    font-size: 0.8em;
    border-radius: 0;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    background: #D40 !important;
    cursor: pointer;
    color: #fff;
    border: 1px solid #910;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    -webkit-appearance: none;

}



/* Login */
.btn-primary, .btn-primary:hover {
  background-color: var(--color-rebble-orange) !important;
  border: 1px solid var(--color-rebble-orange) !important;
}
.btn-primary:active, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--color-rebble-orange) !important;
  border: 1px solid white !important;
}
.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none !important;
}
.btn-secondary, .btn-secondary:hover {
  background-color: var(--color-header) !important;
  border: 1px solid var(--color-header) !important;
}
.btn-secondary:active, .btn-secondary:not(:disabled):not(.disabled):active {
  background-color: var(--color-header) !important;
  border: 1px solid white !important;
}
.btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none !important;
}
.btn-active, .btn-active:hover {
  background-color: var(--color-rebble-light-grey) !important;
  border: 1px solid var(--color-rebble-light-grey) !important;
}






/* Home */

.active {
  background-color: rgba(0,0,0,0.1);
}

.nav-link {
  font-weight: 300;
  font-size: 1rem;
}

.appSmall {
  width: 40px;
  height: 40px;
}
.tinyicon {
  width: 25px;
  height: 30px;
}

.tall {
  height: 100%;
}

ul.nodec {
  padding: 0px;
}

ul.nodec > li {
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.bandw {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.noshadow, .noshadow:hover {
  box-shadow: none;
}

.lineup {
  /* Make buttons line up with col-3 image */
 padding-left: 8px;
}


.loader {
  width: 100%;
}
.spinner {
  border: 8px solid black; 
  border-top: 8px solid var(--color-rebble-orange); 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

.niceInput, .niceInput:focus, .niceInput:active {
  width: 100%;
  border-radius: 0px !important;
  border: 3px solid var(--color-header);
  padding-left: 10px;
  margin-bottom: 4px;
  box-shadow:none;
  outline: 0 none;
}
input.simple, input.niceInput:focus, input.niceInput:active, textarea.simple, textarea.niceInput:focus {
  width: 100%;
  border-radius: 0px !important;
  border: 3px solid var(--color-header);
  padding-left: 10px;
  margin-bottom: 4px;
  box-shadow:none;
  outline: 0 none;
}
textarea {
  width: 100%;
  height: 100px;
}

.longForm {
  padding-left: 0px;
}
.longForm input, .longForm input:focus, .longForm textarea, .longForm textarea:focus, .longForm select, .longForm select:focus {
  width: 70%;
  max-width: 70%;
  font-size: 1.3rem;
}
input[type="checkbox"] {
  width: inherit !important; 
  margin-right: 10px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: var(--color-rebble-orange);
  background-color: var(--color-rebble-orange);
}

.smallInput {
  font-size: 20px;
}

.img-card {
  max-width: 144px;
  max-height: 220px;
  width: 144px;
  height: 220px;
}
.card-body {
  display: inline-block;
  text-align: center;
  padding-top: 10px;
}
.card-body > .btn {
  font-size: 0.8rem;
  padding: 4px;
}
.card-img-top {
  width: 144px;
  height: 168px;
  object-fit: fill;
  max-width: 100%;
}

.change {
  color: var(--color-rebble-orange)
}

.btn-danger, .btn-danger:hover {
  background-color: var(--color-rebble-red) !important;
}
.alert-large.alert-danger {
  background-color: var(--color-rebble-light-red) !important;
  border: 1px solid var(--color-rebble-light-red) !important;
  border-radius: 0px;
  color: black !important;
}
.alert-large {
  font-size: 1rem;
}
.alert-large a {
  color: black;
  text-decoration: underline;
}
.text-danger {
  color: var(--color-rebble-red) !important;
}
.close {
  height: 100%;
}

.small {
  font-size: 1rem;
}


.largeText {
  font-size: 3rem;
  color: var(--color-rebble-orange)
}

.r2 {
  font-size: 2rem;
}


.disabled a {
  color: gray !important;
}

.border-lite {
  border: 1px solid black;
}

.circle {
  border-radius: 50%;
}

.square {
  border-radius: 2px !important;
}
.uploader h1 {
  font-weight: 300;
}
.uploader img {
  height: 100px;
  width: 100px;
}
.uploader .fill {
  width: 100%;
  height: 100%;
}
.modal-lg {
  max-width: 50%;
  height: 75%;
}
#profile-image {
  background-image: url("/res/img/sketches.png");
  height: 1000px;
}
#master-profile {
  overflow-x: hidden;
}
.modal-content .uploader {
  height: 100% !important;
}

.lcase {
  text-transform: lowercase;
}